<% if current_user %>
  <%= form_with(model: @entry, url: entries_path) do |form| %>
    <div class="mb-3">
      <%= form.label :title, class: 'form-label' %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= form.label :description, class: 'form-label' %>
      <%= form.text_area :description, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= form.label :occurred_on, class: 'form-label' %>
      <%= form.date_field :occurred_on, class: 'form-control' %>
    </div>
    <%= form.hidden_field :place_id, value: @place.id %>
    <%= form.submit 'Create Entry', class: 'btn btn-primary' %>
  <% end %>
<% end %>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @entries.each do |entry| %>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= entry.title %></h5>
          <p class="card-text"><%= entry.description %></p>
          <p class="card-text">Occurred on: <%= entry.occurred_on %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>